doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Get CRUD
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        // jQuery library
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js')
        // Popper JS
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
        // Latest compiled JavaScript
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js')

        style.
            .btn-edit{
            background: #fbedde;
            width: 68px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;

            }
            .btn-delete{
            background: #ffbaba;
            width: 68px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            }
        
    body 
        p get crud from View PUG
        table.table.table-hover
            thead
                tr
                th(scope='col') ID
                th(scope='col') Email
                th(scope='col') First Name
                th(scope='col') Last Name
                th(scope='col') Address
                th(scope='col') Action 
                
            tbody
                each data in dataTable 
                    tr
                    td= data.id
                    td= data.email 
                    td= data.firstName 
                    td= data.lastName
                    td= data.address
                    td 
                        a.btn-edit(href='edit-crud?id=' + data.id type="button") Edit 
                        a.btn-delete(href='delete-crud?id=' + data.id type="button") Delete
 
                
                
       
                