html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Edit File

        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        // jQuery library
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js')
        // Popper JS
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
        // Latest compiled JavaScript
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js')
    body 
        .container
            .row 
                <form action="/put-crud" method="POST">
                    <div class="form-row">
                        <div class="col-12 mt-3"><b>Edit user's information:</b></div>
                        <div class="form-group col-md-6">
                        <label for="inputEmail4">First Name</label>
                        <input type="text" class="form-control" name ="firstName" placeholder="First Name" value="!{user.firstName}">
                        </div>
                        <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="!{user.lastName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="1234 Main St" value="!{user.address}"/>
                    </div>
                    <input name="id" value="!{user.id}" type="text" hidden/>
                    
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>