html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HoiDanIT
    body 
    h1 Hello World with HoiDanIT from View Pug
    p !{data}