.body {
  margin: 0px;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  border: 1px solid red;
  height: 60%;
  width: 98%;
  background: url(./banner.jpg) center center no-repeat;
  padding: 20px;
}
.banner .about-signin {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-signin .about,
.banner .about-signin .sign-in {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0px;
  display: inline-block;
  margin-right: 40px;
  padding: 8px 16px;
}
.banner .about-signin .sign-in {
  border-radius: 20px;
  border: 1px solid green;
}
.banner .logo {
  background: url("./logo.png") center center no-repeat;
  height: 50%;
  width: 100%;
  margin-top: 80px;
}
.banner .content-center {
  height: 50px;
}
.banner .content-center .left,
.banner .content-center .right,
.banner .content-center .center {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .content-center span {
  display: block;
  font-size: 25;
}
.banner .text {
  text-align: center;
  margin-top: 25px;
}
.banner .text span {
  color: red;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 20px;
  cursor: pointer;
}
