.body {
    margin: 0px;
    padding: 0 !important;
}

.red {
    border: 1px solid red
}

.green {
    border: 1px solid green
}

.banner {
    border: 1px solid red;

    height: 60%;
    width: 98%;
    background: url(./banner.jpg) center center no-repeat;
    padding: 20px;

    .about-signin {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 0px;
            display: inline-block;
            margin-right: 40px;
            padding: 8px 16px;
        }

        .sign-in {
            border-radius: 20px;
            border: 1px solid green;

        }
    }

    .logo {
        background: url('./logo.png') center center no-repeat;
        height: 50%;
        width: 100%;
        margin-top: 80px;
    }

    .content-center {
        height: 50px;

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            text-align: center
        }

        span {
            display: block;
            font-size: 25;
        }

    }

    .text {
        text-align: center;
        margin-top: 25px;

        span {
            color: red
        }
    }

    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding: 10px 25px;
            border-radius: 20px;
            border: 1px solid green;
            margin-top: 20px;
            cursor: pointer;
        }
    }


}